<a href="https://colab.research.google.com/github/andrewm4894/netdata-community/blob/netdata-pandas-example/netdata-agent-api/netdata-pandas/dev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# uncomment below to install netdata-pandas
#!pip install netdata-pandas

In [5]:
# inputs
hosts = ['london.my-netdata.io', 'newyork.my-netdata.io']
charts = ['system.cpu']
before = 0
after = -60*5

In [7]:
from netdata_pandas.data import get_data

df = get_data(hosts=hosts, charts=charts, after=after, before=before)
print(df.shape)
df.head()

(600, 18)

                                 system.cpu|guest_nice  ...  system.cpu|iowait
host                 time_idx                           ...
london.my-netdata.io 1603394283                    0.0  ...                NaN
                     1603394284                    0.0  ...                NaN
                     1603394285                    0.0  ...                NaN
                     1603394286                    0.0  ...                NaN
                     1603394287                    0.0  ...                NaN

[5 rows x 18 columns]

In [8]:
df.tail()

                                  system.cpu|guest_nice  ...  system.cpu|iowait
host                  time_idx                           ...
newyork.my-netdata.io 1603394578                    0.0  ...                0.0
                      1603394579                    0.0  ...                0.0
                      1603394580                    0.0  ...                1.0
                      1603394581                    0.0  ...                0.0
                      1603394582                    0.0  ...                0.0

[5 rows x 18 columns]