In [2]:
# uncomment below to install netdata-pandas
#!pip install netdata-pandas

In [3]:
from netdata_pandas.data import get_data

df = get_data()
df.head()

            system.cpu|guest_nice  ...  system.cpu|iowait
time_idx                           ...
1603393822                      0  ...                0.0
1603393823                      0  ...                0.0
1603393824                      0  ...                0.0
1603393825                      0  ...                0.0
1603393826                      0  ...                0.0

[5 rows x 9 columns]